.card-aluno {
  width: 250px;
  padding: 30px;
  border-radius: 12px;
  background-color: #f5f5f5;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.imagem-aluno {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.card-aluno h2 {
  margin-bottom: 8px;
}

.card-aluno p {
  color: #555;
}