.card-perfil{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid white;
    background-color: rgb(229, 163, 243);
}

.card-perfil__image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white;
}